.thumbnailWrapper {
  width: 100vw;
  overflow: hidden;
  max-height: 500px;
}

.searchWrapper {
  padding: 30px 30px;
  margin-top: -24px;
  border-radius: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(128, 128, 128, 1);
  -moz-box-shadow: 0px 4px 20px 0px rgba(128, 128, 128, 1);
  box-shadow: 0px 4px 20px 0px rgba(128, 128, 128, 1);
}
